<script src="../Controlador/places.js"></script>
<script>key();</script>
<link href="css/stilos.css" rel="stylesheet" type="text/css">

<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script id="script_1" async defer></script>